<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="me">
    <section class="contact">
        <div class="contact-form">
            <h1>Contact <span>me</span></h1>
            <h6>Feel free to contact me anytime between 8am and 15pm <span> <br>
            Phone: 0765833966       Email: qketah@gmail.com</span></h6>
                <form action="">
                    <input type="text" name="name" placeholder="Your name" required>
                    <input type="email" name="email" id="" placeholder="E-mail" required>
                    <input type="text" name="subject" placeholder="Write a Subject" required>
                    <textarea name="message" id="" cols="30" rows="10" placeholder="Your Massage" required></textarea>
                    <input type="submit" name="submit" value="Submit" class="btnn">
                </form>
        </div>
    </section>
    </div>
</body>
</html>